.jumbotron.jumbotron-fluid {
  background: linear-gradient(180deg, navy 95%, red 5%);
  color: white;
}

.table.table-striped {
  margin-top: 20px;
}

.sort-alpha-down {
  color: blue;
  cursor: pointer;
}
